<h1>About</h1>
<p>This website has been created in order to improve my knowledge in RoR</p>


Learn more about <%= link_to 'Christelle', about_christelle_path %>
</br>
Learn more about <%= link_to 'Raheem', about_raheem_path %>
